.card{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
}
.edit{
    display: flex;
}
.title{
    width: 10rem;
}
.edit-icon{
    margin-left: 1rem;
    cursor: pointer;
}
.card:nth-child(odd){
    background-color: #F8FDFE;
}
.urgency-high{
    background-color: red;
    font-size: 1rem;
    color: black;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    width: 5rem;
}
.urgency-medium{
    background-color: orange;
    font-size: 1rem;
    color: black;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    width: 5rem;
}
.urgency-low{
    background-color: green;
    font-size: 1rem;
    color: black;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    width: 5rem;
}