.card{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}
.edit{
    display: flex;
}
.title{
    width: 10rem;
}
.edit-icon{
    margin-left: 1rem;
    cursor: pointer;
}
.card:nth-child(odd){
    background-color: #F8FDFE;
}
.urgency{
    background-color: red;
    width: 5rem;
}